body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #DFDFDF;
}
div{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #7F7F7F;
  text-align: center;
}

button[id = "randomNameButton"] {
  width: 200px;
}
