body{
  margin: 0;
  font-family: sans-serif;
  background: #DFDFDF;
  line-height: 4vw
}
#box{
  width: 50vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #3F7F7F;
  text-align: center;
  border: 0.3vw solid black;
}

#box #randomNameButton {
  width: 40vw;
  height: 5vw;
  font-size: 3vw;
  padding: 0;
}

#box #day{
  font-size: 4vw;
  padding: 0vw;
  font-weight: bold;
}
#box #time{
  font-size: 3vw;
  padding: 0vw;
  font-weight: bold;
}
#box #name {
  font-size: 2.6vw;
  padding: 0vw;
  font-weight: bold;
}
#box #karesz1, #box #karesz2 {
  width: 20vw;
}
