h1, canvas {
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

img {
    display: none;
}

#canvasContainer {
}

canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 5px;
}
