.borso-sarga {
    background-image: url('../../images/borso/sarga-sima.png')
}

.borso-zold {
    background-image: url('../../images/borso/zold-sima.png')
}

#dominans-recessziv-p {
    grid-template: /**/
    "empty p-top p-left" 120px/**/
    /120px 120px 120px;
}

#dominans-recessziv-p #empty {
    white-space: nowrap;
}

#dominans-recessziv-f1,
#dominans-recessziv-f2 {
    grid-template: /**/
    "empty empty p-top p-top" 100px/**/
    "empty empty p-top-1 p-top-2" 50px/**/
    "p-left p-left-1 . ." 100px/**/
    "p-left p-left-2 . ." 100px/**/
    /100px 50px 100px 100px;
}

#borso-img {
    width: 400px;
}