.virag-piros {
    background-image: url(../../images/virag/piros.png)
}

.virag-rozsaszin {
    background-image: url(../../images/virag/rozsaszin.png)
}

.virag-feher {
    background-image: url(../../images/virag/feher.png)
}

#intermedier-p {
    grid-template: /**/
    "empty p-top p-left" 120px/**/
    /120px 120px 120px;
}

#intermedier-p #empty {
    white-space: nowrap;
}

#intermedier-f1,
#intermedier-f2 {
    grid-template: /**/
    "empty empty p-top p-top" 100px/**/
    "empty empty p-top-1 p-top-2" 50px/**/
    "p-left p-left-1 . ." 100px/**/
    "p-left p-left-2 . ." 100px/**/
    /100px 50px 100px 100px;
}

#csodatolcser-img {
    width: 400px;
}