#kodominancia-p {
    grid-template: /**/
    "empty p-top p-left" 120px/**/
    /120px 120px 120px;
    --p-size: 20px;
}

#kodominancia-p #empty {
    white-space: nowrap;
}

#kodominancia-f1,
#kodominancia-f2 {
    grid-template: /**/
    "empty empty p-top p-top" 100px/**/
    "empty empty p-top-1 p-top-2" 50px/**/
    "p-left p-left-1 . ." 100px/**/
    "p-left p-left-2 . ." 100px/**/
    /100px 50px 100px 100px;
    --child-size: 20px;
    --p-size: 20px;
}

#kodominancia-pelda-ab0,
#kodominancia-pelda-rh {
    background-color: #219ff386;
    float: none;
    margin-left: unset;
    margin-right: 60px;
    grid-template: /**/
    "empty empty p-top p-top" 70px/**/
    "empty empty p-top-1 p-top-2" 35px/**/
    "p-left p-left-1 . ." 70px/**/
    "p-left p-left-2 . ." 70px/**/
    /70px 35px 70px 70px;
}

#kodominancia-pelda-ab0 {
    --child-size: 18px;
    --p-size: 18px;
    --empty-size: 18px;
    --p-sub-size: 20px;
}

#kodominancia-pelda-rh {
    --child-size: 18px;
    --p-size: 18px;
    --empty-size: 18px;
    --p-sub-size: 28px;
}

td,
th {
    border: solid 1px;
}

table {
    table-layout: fixed;
    width: 300px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.table-container {
    flex-grow: 1;
    margin: unset !important;
    text-align: center;
    vertical-align: top;
}

#table-flex {
    display: flex;
}

tr:nth-child(2n) {
    background-color: rgba(181, 230, 29, 0.5);
}

tr:nth-child(2n+1) {
    background-color: rgba(34, 177, 76, 0.5);
}

tr:first-child {
    background-color: rgba(112, 63, 8, 0.5);
}

.vcs {
    font-weight: bold;
    color: red;
}

#vercsoport-img {
    width: 70%;
    display: block;
    margin: 2em auto 0;
}

#pelda-container {
    float: left
}