* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

div {
    width: 50vw;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#secret {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: ease-in-out 3s;
}
