body {
    background: #AFAFAF;
    margin: 0;
    overflow: hidden;
    font-family: Calibri;
}

button {
    font: inherit;
}

#sidebar {
    width: 250px;
    height: 100vh;
    float: left;
    background: #5F5F5F;
    display:inline-block;
}

.item {
    background: #7F7F7F;
    margin: 5px;
    overflow-y: hidden;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    border: 2px solid black
}


.itemButton {
    width: 150px;
    font-size: 30px;
    height: 70px;
}

#kareszContainer {
    text-align: center;
    width: 50%;
    border: 1px solid #FFFFFF;
    top: 50%;
    float: left;
    display: inline-block;
}

#kareszImage {
    width: 20vw;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#kareszCountText {
    font-size: 6vw;
    line-height: 10px;
}

#kareszPerSecText {
    font-size: 4vw;
    line-height: 10px;
}

#saveButton, #loadButton, #resetButton {
    font-size: 35px;
}
