body {
    background: #AFAFAF;
    margin: 0;
    overflow: hidden;
    font-family: Calibri;
}

#gridContainer {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 100vh;
    grid-template-areas: "sidebar main";
}

button {
    font: inherit;
}

#sidebar {
    background: #5F5F5F;
    grid-area: sidebar;
    width: 30vw;
    overflow-y: auto;
}

.item {
    background: #7F7F7F;
    width: 60%;
    margin: auto;
    margin-bottom: 1vw;
    margin-top: 1vw;
    padding-bottom: 2vw;
    padding-top: 2vw;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: bold;
    text-align: center;
    font-size: 2.5vw;
    border: 0.5vw solid black;
    white-space: nowrap;
}


.itemButton {
    width: 10vw;
    font-size: 3vw;
    height: 4vw;
    padding: 0;
    line-height: 1em;
    margin: 0.1vw;
    border: none;
}

#kareszContainer {
    text-align: center;
    grid-area: main;
}

#kareszImage {
    width: 20vw;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    touch-action: manipulation;
}

#kareszCountText {
    font-size: 6vw;
    margin-bottom: 0;
    margin-top: 0;
}

#kareszPerSecText {
    font-size: 4vw;
    margin-bottom: 1vw;
    margin-top: 0;
}

#saveButton, #loadButton, #resetButton {
    width: 15vw;
    height: 6vw;
    font-size: 3vw;
    margin: 0;
    text-align: center;
    padding: 0;
    line-height: 1em;
    vertical-align:top;
}
br {
}